.sideMenu{
  height: 100vh;
  width: 17vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2F2E41;
  overflow-x: hidden;
  padding-top: 20px;
  
}
.sideMenuItem{
  position: absolute;
 margin-top: 6.5vh;
 margin-left: 2.8vw;;
}

.sideMenu h1{
  color:whitesmoke;
  text-align: center;
  margin-top: 3vh;
  
}

.sideMenu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  display: block;
  text-align:center;
}

.sideMenu a:hover {
  color:#7269d6;
}

.logo img{
  position: fixed;
  padding-left: 11vw;
  padding-top: 3vh;
}

.search{
  position: absolute;
  margin-left: 57vw;
  padding-top: 3vh;
}

.subject{
  position: absolute;
  margin-left: 75vw;
  padding-top: 3vh;
}


.aboutUs{
  position: absolute;
  margin-left: 81.5vw;
  padding-top: 3vh;
}

.container h1{
  margin-left: 12.5vw;
  padding-top: 20vh;
}

.card {
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 58%;
  margin-left: 13.5vw;
  height: 36%;
  border-radius: 33px;
  margin-top: -18vh;
}

.topic-images{
  width:35%;
  height: 100%;
  background-color: lightblue;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  position: absolute;
}

.topic-images img{
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.15rem;  
  height: 100%;
} 

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-body h5{
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 21vw;
}

.card-body p{
  position: absolute;
  font-size:1;
  margin-top: 4rem;
  margin-left: 21vw;
}

.start_button{
  color: #2F2E41;
}
